body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root, .home-page {
    height: 100%;
}

.ace_scrollbar-h {
    overflow-x: auto;
}

.home-page {
    display: flex;
    flex-direction: column;
}

.home-page-content {
    flex: 1;
    display: flex;
}

.home-page-content-cell {
    flex-basis: 50%;
    display: flex;
}

.home-page-header {
    display: flex;
}

.header-cell {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1rem;
    font-weight: bold;
    width: 50%;
    background-color: #444;
    border: 1px solid #222;
    font-size: 1.2rem;
}

.results-textarea {
    width: 100%;
    background-color: #444;
    color: white;
    padding: 1rem;
    border-color: #222;
    font-size: 1.3rem;
}

.results-textarea {
    outline: none;
}
